<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plataforma De Filmes Evangélicos.">
    <link rel="icon" type="image/png" href="../img/Logo2.png"/>
    <link rel="stylesheet" href="../styles/config.css">
    <link rel="stylesheet" href="../styles/Home.css">
    <title>Inicio - GênesisFlix</title>
</head>
<body>
    <header id="navbar">
        <section class="logo">
            <a href="../html/Home.html"><img src="../img/Logo.png"></a>
        </section>
        <section class="menu">
            <a href="../html/Login.html">Login</a>
            <a href="../html/Cadastro.html">Cadastre-se</a>
        </section>
    </header>
    <main id="principal">
        <h1 class="title-main">Faça Parte Dessa Plataforma!</h1>
        <a href="../html/Cadastro.html"><button class="btn">Acessar</button></a>
    </main>

    <script src="../js/index.js"></script>
</body>
</html>