<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plataforma De Filmes Evangélicos.">
    <link rel="icon" type="image/png" href="../img/Logo2.png"/>
    <link rel="stylesheet" href="../styles/config.css">
    <link rel="stylesheet" href="../styles/Interno.css">
    <title>Inicio - GênesisFlix</title>
</head>
<body>
    <header id="navbar">
        <section class="logo">
            <img src="../img/Logo.png">
        </section>
        <section class="menu">
            <a href="">Filmes</a>
            <a href="">Séries</a>
        </section>
    </header>

    <script src="../js/index.js"></script>
</body>
</html>