<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plataforma De Filmes Evangélicos.">
    <link rel="icon" type="image/png" href="../img/Logo2.png"/>
    <link rel="stylesheet" href="../styles/config.css">
    <link rel="stylesheet" href="../styles/Load.css">
    <title>Login</title>
</head>
<body>
    <main id="principal">
        <img src="../img/Load.png">
        <div class="loader"></div>
    </main>

    <script>
    setTimeout(function () {
        window.location.href="../html/interno.html"
    }, 2800);
    </script>
</body>
</html>