<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plataforma De Filmes Evangélicos.">
    <link rel="icon" type="image/png" href="../img/Logo2.png"/>
    <link rel="stylesheet" href="../styles/config.css">
    <link rel="stylesheet" href="../styles/Login.css">
    <title>Login</title>
</head>
<body>
    <header id="navbar">
        <section class="logo">
            <a href="../html/Home.html"><img src="../img/Logo.png"></a>
        </section>
        <section class="menu">
            <a href="../html/Cadastro.html">Cadastro</a>
        </section>
    </header>
    <main id="principal">
        <section class="janela-pop">
            <div class="inputs">
                <h1 class="title-main">Painel de Login</h1>
                <div>
                    <label for="emailtxt">E-mail:</label>
                    <input type="text" id="emailtxt" placeholder="ex: joaopessoa@gmail.com">
                </div>
                <div>
                    <label for="senhatxt">Senha:</label>
                    <input type="text" id="senhatxt" placeholder="ex: joaopessoa20934">
                </div>
                <div>
                    <a href="../html/Load.html"><button class="btn">Logar-se</button></a>
                </div>
                <p><a href="../html/Cadastro.html" class="link">Não tem conta?</a> Assine agora mesmo e garanta Contéudos Imperdiveis.</p>
            </div>
        </section>
    </main>

    <script src="../js/index.js"></script>
</body>
</html>